<%- include('./header.ejs')%>
    <link rel="stylesheet" href="/css/main.css">

    <div class="row">
        <%- include('./navbar.ejs')%>
            <%- include('../partials/modal.ejs')%>
                <div class="main-layout col-10 col-md-8 col-lg-6">
                    <h1 class="fw-bold titleContainer">
                        <%=payLoad.displayName%>
                    </h1>

                    <div class="mb-3 postsContainer">
                        <div class="profileHeader">
                            <div class="coverPic"></div>
                            <div class="profile">
                                <img src="/images/profilePic.jpeg">
                            </div>
                        </div>
                        <script>
                            var profileId = `<%=payLoad.user._id%>`;
                        </script>

                    </div>
                    <div class="profileTextCont">
                        <div class="profileInfo">
                            <span class="fw-bold fs-big">
                                <%=payLoad.displayName%>
                            </span>
                            <span class="blk">
                                @<%=payLoad.user.username%>
                            </span>
                            <span class="blk"><i class="far fa-calendar-alt" style="margin-right: 5px ;"></i>
                                Joined <%=payLoad.user.createdAt.getUTCFullYear()%>
                            </span>
                            <a href="/">Following</a>
                            <a href="/">Followers</a>
                        </div>
                        <div class="postHeader fw-bold">
                            <div id="tab-1" class="tab  active" style=" width: 50%; text-align: center;">
                                <a>Posts & Replies</a>
                            </div>
                            <div id="Liked" class="tab" style="width: 50%; text-align: center;">
                                <a>Liked</a>
                            </div>

                        </div>
                        <div class="userPostCnt postsContainer">

                        </div>

                    </div>

                </div>
                <div class="sidebar d-none d-md-block col-md-2 col-lg-4">

                    <%- include('../partials/trending.ejs')%>
                </div>

    </div>

    <script src="/js/profile.js"></script>
    <script src="/js/common.js"></script>
    <%- include('../partials/footer.ejs')%>